{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4"> <b>To-Do App</h1></b>
    <p class="lead">The best To Do app in the world deployed via pipeline...</p>
  </div>

  <form action="add_todo_item" method="post">
      <label for="title">Enter new todo item: </label>
      <input type="text" name="title" required />
    <div>
      <input type="submit" value="Add Item..." />
    </div>
  </form>
<br>
<br>
  <div class="row">
    <div class="col-md-12">
       <h2>To Do...</h2>
       <ul class="list-group mb-4">  
        {% for item in view_model.todo_items %}
          <li>{{item.name}} - {{item.status}}</li>
          {% if item.status != "Done"%}
          <form action="complete-item/{{item.id}}" method="post">  
             <button>Complete</button>
             </form>
             {% endif %}    
        {% endfor %}
       </ul>
       <h2>Doing...</h2>
       <ul class="list-group mb-4">  
        {% for item in view_model.doing_items %}
          <li>{{item.name}} - {{item.status}}</li>
          {% if item.status != "Done"%}
          <form action="complete-item/{{item.id}}" method="post">  
             <button>Complete</button>
             </form>
             {% endif %}    
        {% endfor %}
       </ul>
       <h2>Done...</h2>
       <ul class="list-group mb-4">  
        {% for item in view_model.done_items %}
          <li>{{item.name}} - {{item.status}}</li>
          {% if item.status != "Done"%}
          <form action="complete-item/{{item.id}}" method="post">  
             <button>Complete</button>
             </form>
             {% endif %}    
        {% endfor %}
       </ul>
    </div>
</div>
{% endblock %}